<section id="instructor-section" class="instructor-section">
  <main class="container">
    <div class="box">
      <h1>Instructors</h1>
      <form class="main-form" id="instructorform" method="POST">
        <label for="fname-instructor"> First Name </label>
        <input
          required
          id="fname-instructor"
          name="fname-instructor"
          type="text"
          placeholder="First Name"
        />
        <label for="lname-instructor"> Last Name </label>
        <input
          required
          id="lname-instructor"
          name="lname-instructor"
          type="text"
          placeholder="Last Name"
        />
        <label for="college-instructor">College</label>
        <select
          id="college-instructor"
          name="college-instructor"
          id="college-instructor"
        >
          <option value="CCIT">CCIT</option>
        </select>
        <label for="instructorid"> Instructor ID </label>
        <input
          required
          id="instructorid"
          name="instructorid"
          type="number"
          placeholder="Instructor ID"
        />
        <input required type="submit" value="Submit" />
      </form>
    </div>
  </main>
</section>
