<nav class="navbar">
  <div class="box-logo">
    <h1 class="logo-text">Forms</h1>
    <i class="fab fa-github-alt logo icon"></i>
  </div>
  <ul class="nav">
    <li class="nav-items" id="student">
      <i class="fas fa-user-alt icon"></i>
      <p class="navtext">Students</p>
    </li>
    <li class="nav-items" id="instructor">
      <i class="fas fa-user-tie icon"></i>
      <p class="navtext">Instructor</p>
    </li>
    <li class="nav-items" id="subjects">
      <i class="fas fa-book icon"></i>
      <p class="navtext">Subjects</p>
    </li>
    <li class="nav-items" id="grades">
      <i class="fas fa-chart-line icon"></i>
      <p class="navtext">Grades</p>
    </li>
    <li class="nav-items" id="tables">
      <i class="fas fa-list icon"></i>
      <p class="navtext">Tables</p>
    </li>
  </ul>
</nav>
