<nav class="navbar" id="navbar">
  <div class="box-logo">
    <h1 class="logo-text">Forms</h1>
    <i class="fad fa-calendar-week logo icon"></i>
  </div>
  <ul class="nav" id="nav">
    <li class="nav-items" id="student">
      <i class="fad fa-address-card icon"></i>
      <p class="navtext">Students</p>
    </li>
    <li class="nav-items" id="instructor">
      <i class="fad fa-chalkboard-teacher icon"></i>
      <p class="navtext">Instructor</p>
    </li>
    <li class="nav-items" id="subjects">
      <i class="fad fa-books icon"></i>
      <p class="navtext">Subjects</p>
    </li>
    <li class="nav-items" id="grades">
      <i class="fad fa-user-chart icon"></i>
      <p class="navtext">Grades</p>
    </li>
    <li class="nav-items" id="tables">
      <i class="fad fa-table icon"></i>
      <p class="navtext">Tables</p>
    </li>
  </ul>
</nav>
