<section id="subjects-section" class="subjects-section">
  <main class="container">
    <div class="box">
      <h1>Subjects</h1>
      <form class="main-form" id="subjectform" method="POST">
        <label for="subjectcode"> Subject Code </label>
        <input
          required
          id="subjectcode"
          name="subjectcode"
          type="text"
          placeholder="Subject Code"
        />
        <label for="subjectdescription"> Subject Description </label>
        <input
          required
          id="subjectdescription"
          name="subjectdescription"
          type="text"
          placeholder="Subject Description"
        />
        <label for="schedule"> Schedule </label>
        <input
          required
          id="schedule"
          name="schedule"
          type="text"
          placeholder="Schedule"
        />

        <label for="subjectid"> Subject ID </label>
        <input
          required
          id="subjectid"
          name="subjectid"
          type="text"
          placeholder="Subject ID"
        />
        <input required type="submit" value="Submit" />
      </form>
    </div>
  </main>
</section>
